
$bg-badge: rgba(255, 255, 255, 0.06);
$border-badge: rgba(255, 255, 255, 0.15);

.badge-us{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.45rem 1rem;
  color: #ffffff;
  border: 1px solid $bg-badge ;
  border-radius: 1.45rem;
  background: $border-badge;
  letter-spacing: 0.05em;

  .us{
    color: floralwhite;
    font-size: 0.70rem;
    font-weight: bold;
  }
}