@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$fondo-degradado1 : #061A2A;
$fondo-degradado2 : #071B2F;
$fondo-degradado3 : #10152F;
$btn-primary: #155DCF;
$blanco: #FFFFFFFF;
$txt-impulsa-negocio: #0071F4;
$bg-desarrollo-medida: #19579F;
$bg-design-web: #0A867A;
$bg-soluciones-digitales: #794DC3;
$bg-card-nv1 :#A855F7;
$bg-card-nv2 :#0B5BDA;
$bg-card-nv3 :#2EE6C3;
$bg-card-nv4 :#E1E100;
$bg-borde-badge: rgba(255, 255, 255, 0.15);
$bg-badge: rgba(255, 255, 255, 0.1);

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 110px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    $fondo-degradado1 0%,
    $fondo-degradado2 50%,
    $fondo-degradado3 100%
  );
}
