$fondo-degradado1 : #061A2A;
$fondo-degradado2 : #071B2F;
$fondo-degradado3 : #10152F;
$btn-primary: #155DCF;
$blanco: #FFFFFFFF;
$txt-impulsa-negocio: #0071F4;
$bg-desarrollo-medida: #19579F;
$bg-design-web: #0A867A;
$bg-soluciones-digitales: #794DC3;
$bg-card-nv1 :#A855F7;
$bg-card-nv2 :#0B5BDA;
$bg-card-nv3 :#2EE6C3;
$bg-card-nv4 :#E1E100;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: $fondo-degradado2;
}